body{
	background-color: orange;
}

#cadastrar{
	position: absolute;
	top: 50px;
	left: 450px;
	width: 800px;
	height: 600px;
	background-color: transparent; 
	border-radius: 5px;

}

#cad{
	position: absolute;
	top: 5px;
	left: 360px;
	font-size: 50px;
	color: white;
}

.l{
	color: white;
	font-size: 25px; 
}

form{
	position: absolute;
	top: 130px;
	left: 350px;

}

#bt{
	background-color: transparent;
	color: white;
	border-style: solid;
	border-radius: 5px;
	border-color: white;
	bottom: 30px;
	font-size: 25px;
}

#bt:hover{
	border-color: black;
	transition: 0.8s ease;
}

.inp{
	border-radius: 5px;
	border: none;
	padding: 10px;
	outline: none;
}

#log{
	position: absolute;
	top: 5px;
	left: 360px;
	font-size: 50px;
	color: white;

}
#login{
	position: absolute;
	top: 50px;
	right: 700px;
	width: 800px;
	height: 600px;
	background-color: transparent; 
	border-radius: 5px;
	border-right:5px white solid;


}
